/*body*/
body{
  background-color: #f7f7f7;
}
    /* Nav bar */
.navbar {
    background: #292b2c ;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
}

/* Buttons */
.btn-margin {
    margin: 12.5px;
}

/* Footer */
.footer-credits{
    color:white;
}

#recover_password {
    text-transform: none;
}


button#dropdown-navbar.btn.dropdown-toggle {
    color: #292b2c;
    background-color: #f7f7f7; /* light-grey */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 650;
}


button#dropdown-navbar.btn.dropdown-toggle:hover{
    background-color: lightgrey; 
}


button#tag-button.btn {
    color: white;
    font-size: 0.65rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 500;
}


button#tag-button.btn.theater-tag{
    background: #c43227; /* dark red */
}

button#tag-button.btn.dance-tag{
    background: #4c3ac2; /* indigo */
}

button#tag-button.btn.sculpture-tag{
    background: #e0d426; /* yellow */
}

button#tag-button.btn.music-tag{
    background: #db27d5; /* purple */
}

button#tag-button.btn.literature-tag{
    background: #43b52a; /* green */
}

button#tag-button.btn.comedy-tag{
    background: #2a97b5; /* dark cyan */
}

button#tag-button.btn.paintings-tag{
    background: #d45008; /* dark orage */
}

button#tag-button.btn.others-tag{
    background: #000FFF; /* dark orage */
}

button#tag-button.btn:hover {
    background:  lightgrey;
}

p#search-by{
    font-size: 0.8rem; 
    margin-bottom: 0.1rem; 
    font-style: italic;
}

p#user-about {
    text-align: justify;
    font-size: 0.8rem;
}

p#about-us {
    text-align: justify;
    font-size: 0.8rem;
}

hr {
border: solid 0.05rem;
color: lightgray;
width: 100%;
}

button#delete-button.btn{
    padding: 0.5rem;
}

p#event-card-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom:0.1rem;
}

p#event-card-info {
    font-size: 0.65rem;

}

p#event-card-body {
    text-align: justify;
    font-size: 0.75rem;
}

img#event-card-img {
    width: 100%;
    height: 180px;
}




a#event-card-button.btn.btn-sm.btn-dark {
    color: #f7f7f7;  /* light-grey */
    background-color: #292b2c ;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 0.65rem;
    font-weight: 625;
}


a#event-card-button.btn.btn-sm.btn-dark:hover{
    background-color: lightgrey; 
}



.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

div#overlay-text.text {
  color: white;
  font-size: 0.85rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

div.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 650;
    font-size: 0.65rem;
}


button#button-header.btn.btn-light.btn-sm.btn-margin {
    color: #292b2c;
    background-color: #f7f7f7; /* light-grey */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 0.7rem;
    font-weight: 650;

}

button#button-header.btn.btn-light.btn-sm.btn-margin:hover{
    background-color: lightgrey; 
}

p#event-info{
    font-size: 0.85rem;
    
}

a#event-maps-button {
        background: #292b2c;
    color: #f7f7f7;
    font-size: 0.75rem;
    padding-right: 1.15rem;
    padding-left: 1.15rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 500;
}

a#event-maps-button:hover{
    background-color: lightgrey; 
}

.fa {
  padding: 0.75rem;
  font-size: 1.4rem;
  
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


p#comment-body{
    text-align: justify;
    font-size: 0.85rem;
}

p#comment-datetime{
    font-size: 0.65rem;

}

div#event-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    
}


nav#event-navbar{
 text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600; 
    background: #292b2c;
    color: #f7f7f7;
}

nav#event-navbar{
 text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600; 
    background: #292b2c;
    color: #f7f7f7;
}



